## Homework pandas review

### Instructions

* You will provide a .py or .ipynb file; __it is critical that the code runs__ (i.e. if I press the "Run" button there should be no error message) - if it does not, you will lose most of the grade

* If you do not know how to answer a question, just skip it or write something simple that works (even if uncomplete), but please do not leave a piece of code that breaks

* You do not need to write text, just code; please `print` important results (otherwise they are executed but do not get printed)

* Doing the assignments in groups is strongly recommended; please do not copy among different groups: if I detect errors that have been copy pasted and that are suspiciously similar across different submission the grade will be penalized

* Just send one submission per group includind the names of the memembers

* You may use whatever IDE you want (VSCode, Replit, or GitHub Codespaces), but the submission of the file must be done through __Turnitin__ in Blackboard

* When I ask you to "comment" on something, just write one or two concise lines, and actually comment the lines (prepend a # symbol); please be crisp and avoid long paragraphs

* If there are several ways to do something, or the instructions are open-ended, please use your freedom; __creativity will receive bonus points__

## Questions
### Part I
(1) Create three list called `company`, `country`, `industry` with four elements each corresponding to values for those categories; e.g. for `company` the corresponding list could be `('Amazon', 'Aramco', 'Blackrock', 'Alibaba')`

In [ ]:
import pandas as pd

In [14]:
dic_ = {'company':['Amazon', 'Aramco', 'Alibaba', 'Blackrock'], 'country':['US', 'Saudi', 'China', 'US'], 'industry':['Tech', 'Oil', 'Tech', 'Asset_management']}

(2) Build a dictionary where the keys are `company`, `country`, `industry`

(3) Build a dataframe from that dictionary; the columns must be `company`, `country`, `ìndustry`

In [17]:
df = pd.DataFrame(dic_)
print(df)

     company country          industry
0     Amazon      US              Tech
1     Aramco   Saudi               Oil
2    Alibaba   China              Tech
3  Blackrock      US  Asset_management

(4) Add a column called earnings with the values `(100, 200, 300, 150)`

In [19]:
df['earnings'] = (100, 200, 300, 150)
print(df)

     company country          industry  earnings
0     Amazon      US              Tech       100
1     Aramco   Saudi               Oil       200
2    Alibaba   China              Tech       300
3  Blackrock      US  Asset_management       150

(5) Print only the rows corresponding to companies whose earnings are above 120

In [20]:
df[df.earnings > 120]

     company country          industry  earnings
1     Aramco   Saudi               Oil       200
2    Alibaba   China              Tech       300
3  Blackrock      US  Asset_management       150

(6) Print the third row using `iloc`

In [21]:
df.iloc[2]

company     Alibaba
country       China
industry       Tech
earnings        300
Name: 2, dtype: object

(7) Print the columns `company` and `earnings` exclusively by using `.loc`

In [22]:
df.loc[:, ['company', 'earnings']]

     company  earnings
0     Amazon       100
1     Aramco       200
2    Alibaba       300
3  Blackrock       150

(8) Drop the `country` column

In [24]:
df.drop('country', axis='columns')

     company          industry  earnings
0     Amazon              Tech       100
1     Aramco               Oil       200
2    Alibaba              Tech       300
3  Blackrock  Asset_management       150

### Part II

(1) Download the `FremPreg.csv` file that you can find in this repository or in the first session repository
(2) Read it with the command `pd.read_csv`
(3) Print it

In [4]:
pd.read_csv('FemPreg.csv')

,row_number,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13588,13588,12571,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,6.1875
13589,13589,12571,2,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,NaN
13590,13590,12571,3,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,NaN
13591,13591,12571,4,NaN,NaN,NaN,NaN,6.0,NaN,1.0,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,7.5000
13592,13592,12571,5,NaN,NaN,NaN,NaN,6.0,NaN,1.0,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,7.5000

```{toggle}
Some hidden toggle content!

![](../images/cool.jpg)
```